@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bakbak+One&family=Noto+Serif+Display:wght@300&family=Open+Sans+Condensed:wght@300&family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  outline: 1; }

.wrap::after {
  content: '';
  display: none;
  clear: both; }

/*
font-family: 'Abel', sans-serif;
font-family: 'Bakbak One', cursive;
font-family: 'Noto Serif Display', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
.side {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -150px;
  backdrop-filter: blur(10px);
  z-index: 5;
  transition: 0.7s; }
  .side .text {
    width: 100%;
    height: 35%;
    padding: 50px 20px 20px;
    background: tan; }
    .side .text h2 {
      font: bold 24px/1 'Open Sans Condensed';
      color: #fff;
      letter-spacing: 2px;
      margin-bottom: 20px;
      transform: rotate(-90deg) translate(40px, -75px);
      transition: 0.5s; }
    .side .text p {
      font: 14px/1.3 '맑은 고딕';
      color: #eee;
      margin-bottom: 100px;
      opacity: 0;
      transition: 0.3s 0.3s; }
    .side .text span {
      display: block;
      text-align: right;
      color: #fff;
      position: relative;
      cursor: pointer;
      opacity: 0;
      transition: 0.3s 0.3s; }
      .side .text span::before {
        content: '';
        display: inline-block;
        width: 100px;
        height: 1px;
        background: #fff;
        position: absolute;
        bottom: 17px;
        right: 60px;
        transition: 0.5s; }
      .side .text span::after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 1px;
        background: #fff;
        position: absolute;
        bottom: 17px;
        left: 90px;
        transform: rotate(30deg);
        transform-origin: right center;
        transition: 0.2s 0.4s; }
      .side .text span i {
        display: inline-block;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 50%;
        border: 1px solid transparent;
        transition: 0.3s 0.5s; }
      .side .text span:hover::before {
        width: 0; }
      .side .text span:hover::after {
        opacity: 0; }
      .side .text span:hover i {
        border: 1px solid #fff; }
  .side .sideBtn {
    width: 100%;
    height: 65%;
    background: black; }
    .side .sideBtn li {
      width: 100%;
      height: calc(100% / 8);
      padding-left: 20px;
      border-bottom: 1px solid rgba(210, 180, 140, 0.2);
      display: flex;
      align-items: center;
      cursor: pointer; }
      .side .sideBtn li a span {
        font: 15px/1 'Roboto Condensed';
        color: #bbb;
        opacity: 0;
        transition: 0.3s 0.5s; }
      .side .sideBtn li a i {
        font-size: 18px;
        color: #aaa;
        margin-right: 10px; }
      .side .sideBtn li:hover {
        background: rgba(210, 180, 140, 0.425); }
        .side .sideBtn li:hover a {
          color: #fff; }
          .side .sideBtn li:hover a i {
            color: #fff; }
  .side:hover {
    right: 0; }
    .side:hover .text h2 {
      transform: rotate(0deg) translate(0px, 0px); }
    .side:hover .text p, .side:hover .text span {
      opacity: 1; }
    .side:hover .sideBtn li a span {
      opacity: 1;
      transition: 0.3s; }

#header {
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }
  #header .inner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px 100px;
    align-items: center; }
    #header .inner .logo {
      display: inline-block;
      margin-top: 20px;
      margin-right: 50px;
      text-align: center; }
      #header .inner .logo a {
        font-size: 0; }
        #header .inner .logo a::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: tan;
          border-radius: 50%; }
        #header .inner .logo a span {
          font: 18px/1 'Open Sans Condensed';
          letter-spacing: 2px;
          color: tan; }
        #header .inner .logo a img {
          width: 50px;
          height: 50px;
          object-fit: cover; }
    #header .inner #gnb {
      display: inline-block; }
      #header .inner #gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner #gnb li {
        float: left;
        font: 18px/1 'Open Sans Condensed';
        margin-right: 50px; }
        #header .inner #gnb li a {
          color: #eee; }
    #header .inner .util {
      position: absolute;
      top: 30px;
      right: 100px; }
      #header .inner .util::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner .util li {
        float: left;
        margin-left: 30px; }
        #header .inner .util li a {
          font: 13px/1 'Abel';
          color: #eee; }
        #header .inner .util li:last-child a i {
          margin-left: 5px; }

#visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(../img/visual.5.jpg) no-repeat center/cover;
  transform-style: preserve-3d; }
  #visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none; }
  #visual .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    backdrop-filter: blur(5px) brightness(0.3); }
    #visual .inner .wrap {
      width: 100%;
      height: 100%;
      padding: 0px 100px; }
      #visual .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #visual .inner .wrap .left {
        float: left;
        width: 40%;
        height: 100%;
        padding: 350px 0;
        overflow: hidden; }
        #visual .inner .wrap .left h2 {
          font: bold 50px/1 'Noto Serif Display';
          color: tan;
          margin-bottom: 30px; }
        #visual .inner .wrap .left p {
          width: 500px;
          font: 17px/1.4 'noto sans kr', 'arial';
          color: #bbb;
          margin-bottom: 80px; }
        #visual .inner .wrap .left a {
          font: 16px/1 'noto sans kr';
          color: #fff; }
      #visual .inner .wrap .right {
        float: right;
        width: 60%;
        height: 100%;
        overflow: hidden;
        position: relative;
        perspective: 3000px; }
        #visual .inner .wrap .right article {
          width: 24%;
          height: 480px;
          margin-right: 1%;
          padding: 20px;
          background: rgba(0, 0, 0, 0.8);
          position: absolute;
          top: 50%;
          margin-top: -240px;
          cursor: pointer;
          transform: translateX(-50%);
          transition: left 0.5s 1.5s, transform 1s, width 1s; }
          #visual .inner .wrap .right article:nth-of-type(1) {
            left: 12%; }
          #visual .inner .wrap .right article:nth-of-type(2) {
            left: 37%; }
          #visual .inner .wrap .right article:nth-of-type(3) {
            left: 62%; }
          #visual .inner .wrap .right article:nth-of-type(4) {
            left: 87%;
            margin-right: 0; }
          #visual .inner .wrap .right article.on {
            width: 100%;
            top: 50%;
            left: 50%;
            transform: rotateY(180deg) translateX(50%);
            transition: left 1s, transform 1s 1.3s, width 0.5s 1.3s; }
            #visual .inner .wrap .right article.on .front {
              opacity: 0;
              transition: 0.5s 1.5s; }
            #visual .inner .wrap .right article.on .back {
              opacity: 1;
              transform: rotateY(-180deg);
              transition: opacity 0.8s 1.6s, transform 1s 1.3s; }
          #visual .inner .wrap .right article.off {
            transform: scale(0.2) translateX(-250%);
            opacity: 0;
            transition: 1s; }
          #visual .inner .wrap .right article .front {
            width: 100%;
            height: 100%;
            overflow: hidden;
            transition: 0.5s; }
            #visual .inner .wrap .right article .front .pic {
              width: 100%;
              height: 250px;
              overflow: hidden;
              margin-bottom: 30px; }
              #visual .inner .wrap .right article .front .pic img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
            #visual .inner .wrap .right article .front h3 {
              font: 24px/1 'Abel';
              color: #fff;
              letter-spacing: 1px;
              margin-bottom: 30px;
              opacity: 0.8;
              position: relative;
              transition: 0.5s; }
              #visual .inner .wrap .right article .front h3::after {
                content: '';
                display: block;
                width: 20px;
                height: 1px;
                background: rgba(238, 238, 238, 0.3);
                position: absolute;
                bottom: -15px;
                left: 0; }
            #visual .inner .wrap .right article .front p {
              height: 65px;
              font: 15px/1.4 'Noto Sans KR';
              color: #777;
              margin-bottom: 40px; }
            #visual .inner .wrap .right article .front a {
              display: block;
              text-align: right;
              position: relative; }
              #visual .inner .wrap .right article .front a::before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 1px;
                background: tan;
                position: absolute;
                bottom: 7px;
                right: 0px;
                transform: rotate(180deg);
                transition: 1s; }
              #visual .inner .wrap .right article .front a::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 15px;
                background: tan;
                position: absolute;
                bottom: 0px;
                right: 7px;
                transform: rotate(180deg);
                transition: 1s; }
              #visual .inner .wrap .right article .front a span {
                font: 17px/1 'abel';
                color: tan;
                letter-spacing: 1px;
                opacity: 0;
                position: absolute;
                bottom: 0px;
                right: -100px;
                transition: 1s; }
          #visual .inner .wrap .right article .back {
            opacity: 0;
            width: 100%;
            height: 100%;
            padding: 40px;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            transition: opacity 0.5s, transform 0.5s 0.5s; }
            #visual .inner .wrap .right article .back h3 {
              font: 24px/1 'Abel';
              color: #fff;
              margin-bottom: 40px; }
            #visual .inner .wrap .right article .back > span {
              font: 18px/1 'Abel';
              color: #eee;
              position: absolute;
              top: 40px;
              right: 40px; }
            #visual .inner .wrap .right article .back ul {
              width: 100%;
              height: 330px; }
              #visual .inner .wrap .right article .back ul::after {
                content: '';
                display: block;
                clear: both; }
              #visual .inner .wrap .right article .back ul li {
                float: left;
                width: calc(100% / 4);
                height: 100%; }
                #visual .inner .wrap .right article .back ul li span {
                  font: bold 22px/1 'Open Sans Condensed';
                  color: tan; }
                #visual .inner .wrap .right article .back ul li:nth-of-type(1) img {
                  width: 95%;
                  height: 95%;
                  object-fit: cover;
                  margin-top: 20px; }
                #visual .inner .wrap .right article .back ul li:nth-of-type(2) img, #visual .inner .wrap .right article .back ul li:nth-of-type(3) img {
                  width: 95%;
                  height: 100px;
                  object-fit: cover;
                  margin-top: 20px;
                  margin-bottom: 20px; }
                #visual .inner .wrap .right article .back ul li:nth-of-type(2) h4, #visual .inner .wrap .right article .back ul li:nth-of-type(3) h4 {
                  font: bold 18px/1 'Abel';
                  color: #ddd;
                  margin-bottom: 10px; }
                #visual .inner .wrap .right article .back ul li:nth-of-type(2) p, #visual .inner .wrap .right article .back ul li:nth-of-type(3) p {
                  font: 15px/1.3 'arial';
                  color: #999; }
                #visual .inner .wrap .right article .back ul li:nth-of-type(4) h4 {
                  font: bold 18px/1 'Abel';
                  color: #ddd;
                  margin-top: 20px;
                  margin-bottom: 10px; }
                #visual .inner .wrap .right article .back ul li:nth-of-type(4) p {
                  font: 13px/1.3 'arial', 'Noto Sans KR';
                  color: #999;
                  margin-bottom: 50px; }
          #visual .inner .wrap .right article:hover .front h3 {
            opacity: 1; }
          #visual .inner .wrap .right article:hover .front a::before {
            right: 100px;
            transform: rotate(0deg); }
          #visual .inner .wrap .right article:hover .front a::after {
            right: 107px;
            transform: rotate(0deg); }
          #visual .inner .wrap .right article:hover .front a span {
            opacity: 1;
            right: 0px; }

#menu {
  width: 100%;
  padding: 100px 0; }
  #menu .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0 auto;
    position: relative; }
    #menu .inner h2 {
      font: bold 28px/1 'Roboto Condensed';
      color: #222;
      text-align: center;
      padding-top: 20px;
      position: relative; }
      #menu .inner h2::before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: tan;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -15px; }
    #menu .inner .menu_btn {
      width: 500px;
      padding: 0px 50px;
      margin: 50px auto; }
      #menu .inner .menu_btn ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #menu .inner .menu_btn ul li a {
          font: 18px/1 'abel';
          color: #333;
          padding-bottom: 5px;
          border-bottom: 1px solid #fff;
          transition: 0.5s; }
        #menu .inner .menu_btn ul li:hover > a {
          border-bottom: 1px solid tan; }
        #menu .inner .menu_btn ul li.on a {
          font-weight: bold;
          color: #111;
          border-bottom: 1px solid tan; }
    #menu .inner .wrap {
      width: 100%;
      min-height: 400px;
      position: relative; }
      #menu .inner .wrap article {
        width: 100%;
        height: 100%;
        padding: 50px 0;
        font-size: 0;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        opacity: 0;
        z-index: 1;
        transform: translateY(50px);
        transition: opacity 0.5s, transform 1s; }
        #menu .inner .wrap article.on {
          transform: translateY(0px);
          opacity: 1;
          z-index: 2; }
        #menu .inner .wrap article#slider .slide {
          width: calc(300px * 8);
          height: 300px;
          margin-left: -25%; }
        #menu .inner .wrap article ul {
          width: calc(300px * 8);
          height: 300px; }
          #menu .inner .wrap article ul::after {
            content: '';
            display: block;
            clear: both; }
          #menu .inner .wrap article ul li {
            width: 280px;
            height: 100%;
            float: left;
            margin-right: 20px;
            padding: 20px;
            cursor: pointer;
            transition: 0.3s; }
            #menu .inner .wrap article ul li:last-child {
              margin-right: 0; }
            #menu .inner .wrap article ul li .pic {
              width: 100%;
              height: 150px;
              overflow: hidden;
              margin-bottom: 30px; }
              #menu .inner .wrap article ul li .pic img {
                width: 100%;
                height: 100%;
                object-fit: contain; }
            #menu .inner .wrap article ul li h3 {
              font: bold 22px/1 'Open Sans Condensed';
              color: #111;
              text-align: center;
              margin-bottom: 20px; }
            #menu .inner .wrap article ul li p {
              font: 15px/1.3 'abel';
              color: #333;
              text-align: center; }
            #menu .inner .wrap article ul li:hover {
              box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.18); }
      #menu .inner .wrap .prev {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: -50px;
        margin-top: -15px;
        border: 1px solid #aaa; }
        #menu .inner .wrap .prev::before {
          content: '';
          display: block;
          width: 15px;
          height: 1px;
          background: #aaa;
          position: absolute;
          top: 14px;
          left: 7px;
          transform-origin: left center;
          transform: rotate(-30deg); }
        #menu .inner .wrap .prev::after {
          content: '';
          display: block;
          width: 15px;
          height: 1px;
          background: #aaa;
          position: absolute;
          top: 14px;
          left: 7px;
          transform-origin: left center;
          transform: rotate(30deg); }
      #menu .inner .wrap .next {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        right: -50px;
        margin-top: -15px;
        border: 1px solid #aaa; }
        #menu .inner .wrap .next::before {
          content: '';
          display: block;
          width: 15px;
          height: 1px;
          background: #aaa;
          position: absolute;
          top: 14px;
          left: 7px;
          transform-origin: right center;
          transform: rotate(-30deg); }
        #menu .inner .wrap .next::after {
          content: '';
          display: block;
          width: 15px;
          height: 1px;
          background: #aaa;
          position: absolute;
          top: 14px;
          left: 7px;
          transform-origin: right center;
          transform: rotate(30deg); }

/*# sourceMappingURL=style.css.map */
