@import url("https://fonts.googleapis.com/css2?family=Abel&family=Caveat&family=Dancing+Script&family=Meow+Script&family=Shadows+Into+Light&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  outline: 1; }

.wrap::after {
  content: '';
  display: none;
  clear: both; }

/*
font-family: 'Abel', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Meow Script', cursive;
font-family: 'Shadows Into Light', cursive;

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #56739d, #8faac8);

    div{
        width: 500px; height: 500px;
        background:  #7392b9;
    }
}
*/
#header {
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
  #header .inner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px 50px;
    align-items: center; }
    #header .inner .logo {
      display: inline-block;
      font: bold 24px/1 'Shadows Into Light';
      margin-top: 40px;
      margin-right: 50px; }
      #header .inner .logo a {
        color: #fff; }
    #header .inner #gnb {
      display: inline-block; }
      #header .inner #gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner #gnb li {
        float: left;
        font: 18px/1 'Abel';
        margin-right: 50px; }
        #header .inner #gnb li a {
          color: #eee; }
    #header .inner .util {
      position: absolute;
      top: 30px;
      right: 50px; }
      #header .inner .util::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner .util li {
        float: left;
        margin-left: 30px; }
        #header .inner .util li a {
          font: 13px/1 'able';
          color: #eee; }

#visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #111; }
  #visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.8) contrast(70%);
    display: none; }
  #visual .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    #visual .inner .wrap {
      width: 100%;
      height: 100%;
      padding: 0px 50px; }
      #visual .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #visual .inner .wrap .left {
        float: left;
        width: 40%;
        height: 100%;
        overflow: hidden; }
        #visual .inner .wrap .left .title {
          width: 100%;
          height: calc(100% * 3); }
          #visual .inner .wrap .left .title li {
            width: 100%;
            height: calc(100% / 3);
            padding: 350px 0;
            display: none; }
            #visual .inner .wrap .left .title li.on {
              display: block; }
            #visual .inner .wrap .left .title li h2 {
              font: bold 50px/1 'abel';
              color: tan;
              margin-bottom: 30px; }
            #visual .inner .wrap .left .title li p {
              width: 500px;
              font: 17px/1.4 'noto sans kr', 'arial';
              color: #bbb;
              margin-bottom: 20px; }
            #visual .inner .wrap .left .title li a {
              font: 16px/1 'noto sans kr';
              color: #fff; }
      #visual .inner .wrap .right {
        float: right;
        width: 60%;
        height: 100%;
        overflow: hidden; }
        #visual .inner .wrap .right .product {
          width: 100%;
          height: calc(100% * 3); }
          #visual .inner .wrap .right .product li {
            width: 100%;
            height: calc(100%/ 3);
            display: flex;
            justify-content: space-between;
            align-items: center; }
            #visual .inner .wrap .right .product li article {
              width: calc(100% / 4);
              padding: 20px; }
              #visual .inner .wrap .right .product li article .front {
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, rgba(51, 51, 51, 0.5), rgba(85, 85, 85, 0.5) rgba(136, 136, 136, 0.5)); }
                #visual .inner .wrap .right .product li article .front .pic {
                  width: 100%;
                  height: 200px;
                  overflow: hidden; }
                  #visual .inner .wrap .right .product li article .front .pic img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; }
              #visual .inner .wrap .right .product li article .back {
                display: none; }

/*# sourceMappingURL=style.css.map */
