@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Caveat&family=Dancing+Script&family=Meow+Script&family=Shadows+Into+Light&display=swap');
@import "reset.scss";

/*
font-family: 'Abel', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Meow Script', cursive;
font-family: 'Shadows Into Light', cursive;

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #56739d, #8faac8);

    div{
        width: 500px; height: 500px;
        background:  #7392b9;
    }
}
*/


#header{
    width: 100%; height: 140px;
    position: absolute;
    top: 0; left: 0;
    z-index: 3;
    
    .inner{
        width: 100%; height: 100%;
        position: relative;
        padding: 30px 50px;
        align-items: center;

        .logo{
            display: inline-block;
            font: bold 24px/1 'Shadows Into Light';
            margin-top: 40px;
            margin-right: 50px;

            a{
                color: #fff;
            }
        }

        #gnb{
            display: inline-block;

            &::after{
                content: ''; display: block; clear: both;
            }

            li{
                float: left;
                font:  18px/1 'Abel';
                margin-right: 50px;

                a{
                    color: #eee;
                }
            }
        }

        .util{
            position: absolute;
            top: 30px; right: 50px;

            &::after{
                content: ''; display: block; clear: both;
            }

            li{
                float: left;
                margin-left: 30px;

                a{
                    font: 13px/1 'able';
                    color: #eee;
                }
            }
        }
    }
}

#visual{
    width: 100%; height: 100vh;
    overflow: hidden;
    background: url(../img/visual.5.jpg) no-repeat center/cover;

    video{
        width: 100%; height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0; left: 0;
        z-index: 1;
        display: none;
        // filter: brightness(0.8) contrast(70%);
    }

    .inner{
        width: 100%; height: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        backdrop-filter: blur(5px) brightness(0.3);

        .wrap{
            width: 100%; height: 100%;
            padding: 0px 50px;

            &::after{
                content: ''; display: block; clear: both;
            }

            .left{
                float: left;
                width: 40%; height: 100%;
                overflow: hidden;

                .title{
                    width: 100%; height: calc(100% * 3);

                    li{
                        width: 100%; height: calc(100% / 3);
                        padding: 350px 0;
                        display: none;

                        &.on{
                            display: block;
                        }

                        h2{
                            font: bold 50px/1 'abel';
                            color: tan;
                            margin-bottom: 30px;
                        }

                        p{
                            width: 500px;
                            font: 17px/1.4 'noto sans kr', 'arial';
                            color: #bbb;
                            margin-bottom: 20px;
                        }

                        a{
                            font: 16px/1 'noto sans kr';
                            color: #fff;
                        }
                    }
                }
            }

            .right{
                float: right;
                width: 60%; height: 100%;
                overflow: hidden;

                .product{
                    width: 100%; height: calc(100% * 3);

                    li{
                        width: 100%; height: calc(100%/ 3);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        article{
                            width: 24%;
                            padding: 20px;
                            background: linear-gradient(-210deg,rgba(0, 0, 0, 0.8) 60%, rgba(36, 36, 36, 0.5) 100%);
                            cursor: pointer;

                            .front{
                                width: 100%; height: 100%;
                                overflow: hidden;

                                .pic{
                                    width: 100%; height: 250px;
                                    overflow: hidden;
                                    margin-bottom: 30px;

                                    img{
                                        width: 100%; height: 100%;
                                        object-fit: cover;
                                    }
                                }

                                h3{
                                    font: bold 24px/1 'abel';
                                    color: #fff;
                                    margin-bottom: 30px;
                                    opacity: 0.7;
                                    position: relative;

                                    &::after{
                                        content: ''; 
                                        display: block;
                                        width: 20px; height: 1px;
                                        background: rgba(238, 238, 238, 0.3);
                                        position: absolute;
                                        bottom: -15px; left: 0;
                                    }
                                }

                                p{
                                    font: 15px/1.2 'arial';
                                    color: #888;
                                    margin-bottom: 50px;
                                }

                                a{
                                    display: block;
                                    text-align: right;
                                    position: relative;

                                    i{
                                        color: tan;
                                        margin-right: 10px;
                                        position: absolute;
                                        bottom: 0px; right: 0px;
                                        transform: rotate(180deg);
                                        transition: 1s;
                                    }

                                    span{
                                        font: 17px/1 'abel';
                                        color: tan;
                                        letter-spacing: 1px;
                                        opacity: 0;
                                        position: absolute;
                                        bottom: 0; right: -100px;
                                        transition: 1s;
                                    }
                                }

                                &:hover{
                                    a{
                                        i{
                                            right: 100px;
                                            transform: rotate(0deg);
                                        }

                                        span{
                                            opacity: 1;
                                            right: 0px;
                                        }
                                    }
                                }
                            }

                            .back{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
} 