@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bakbak+One&family=Noto+Serif+Display:wght@300&family=Open+Sans+Condensed:wght@300&family=Roboto+Condensed:wght@300&display=swap');
@import "reset.scss";

/*
font-family: 'Abel', sans-serif;
font-family: 'Bakbak One', cursive;
font-family: 'Noto Serif Display', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/


#header{
    width: 100%; height: 140px;
    position: absolute;
    top: 0; left: 0;
    z-index: 3;
    
    .inner{
        width: 100%; height: 100%;
        position: relative;
        padding: 30px 100px;
        align-items: center;

        .logo{
            display: inline-block;
            margin-top: 20px;
            margin-right: 50px;
            text-align: center;

            a{
                font-size: 0;

                &::after{
                    content: '';
                    display: block;
                    width: 100%; height: 1px;
                    background: tan;
                    border-radius: 50%;
                }

                span{
                    font: 18px/1 'Open Sans Condensed';
                    letter-spacing: 2px;
                    color: tan;
                }

                img{
                    width: 50px; height: 50px;
                    object-fit: cover;
                }
            }
        }

        #gnb{
            display: inline-block;

            &::after{
                content: ''; display: block; clear: both;
            }

            li{
                float: left;
                font:  18px/1 'Open Sans Condensed';
                margin-right: 50px;

                a{
                    color: #eee;
                }
            }
        }

        .util{
            position: absolute;
            top: 30px; right: 100px;

            &::after{
                content: ''; display: block; clear: both;
            }

            li{
                float: left;
                margin-left: 30px;

                a{
                    font: 13px/1 'Abel';
                    color: #eee;
                }

                &:last-child{
                    a i{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

#visual{
    width: 100%; height: 100vh;
    overflow: hidden;
    background: url(../img/visual.5.jpg) no-repeat center/cover;
    transform-style: preserve-3d;

    video{
        width: 100%; height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0; left: 0;
        z-index: 1;
        display: none;
        // filter: brightness(0.8) contrast(70%);
    }

    .inner{
        width: 100%; height: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        backdrop-filter: blur(5px) brightness(0.3);

        .wrap{
            width: 100%; height: 100%;
            padding: 0px 100px;

            &::after{
                content: ''; display: block; clear: both;
            }

            .left{
                float: left;
                width: 40%; height: 100%;
                padding: 350px 0;
                overflow: hidden;

                h2{
                    font:  bold 50px/1 'Noto Serif Display';
                    color: tan;
                    margin-bottom: 30px;
                }

                p{
                    width: 500px;
                    font: 17px/1.4 'noto sans kr', 'arial';
                    color: #bbb;
                    margin-bottom: 80px;
                }

                a{
                    font: 16px/1 'noto sans kr';
                    color: #fff;
                }
            }

            .right{
                float: right;
                width: 60%; height: 100%;
                overflow: hidden;
                position: relative;
                perspective: 3000px;

                article{
                    width: 24%; height: 480px;
                    margin-right: 1%;
                    padding: 20px;
                    background: rgba(0, 0, 0, 0.8);
                    position: absolute;
                    top: 50%;
                    margin-top: -240px;
                    cursor: pointer;
                    transform: translateX(-50%);
                    transition: left 0.5s 1s, transform 1s, width 1s;

                    &:nth-of-type(1){ left: 12% }
                    &:nth-of-type(2){ left: 37% }
                    &:nth-of-type(3){ left: 62% }
                    &:nth-of-type(4){ left: 87%; margin-right: 0;}

                    &.on{
                        width: 100%;
                        top: 50%; left: 50%;
                        transform: rotateY(180deg) translateX(50%);
                        transition: left 0.5s, transform 1s 0.5s, width 1s 0.5s;

                        .front{
                            opacity: 0;
                        }

                        .back{
                            opacity: 1;
                            transform: rotateY(-180deg);
                            transition: opacity 0.5s 1s, transform 1s 0.5s;
                        }
                    }

                    &.off{
                        transform: scale(0.2) translateX(-250%);
                        opacity: 0;
                        transition: 1s;
                    }

                    .front{
                        width: 100%; height: 100%;
                        overflow: hidden;
                        transition: 0.7s 0.5s;

                        .pic{
                            width: 100%; height: 250px;
                            overflow: hidden;
                            margin-bottom: 30px;

                            img{
                                width: 100%; height: 100%;
                                object-fit: cover;
                            }
                        }

                        h3{
                            font: 24px/1 'Abel';
                            color: #fff;
                            letter-spacing: 1px;
                            margin-bottom: 30px;
                            opacity: 0.7;
                            position: relative;
                            transition: 0.5s;

                            &::after{
                                content: ''; 
                                display: block;
                                width: 20px; height: 1px;
                                background: rgba(238, 238, 238, 0.3);
                                position: absolute;
                                bottom: -15px; left: 0;
                            }
                        }

                        p{
                            height: 65px;
                            font: 15px/1.4 'Noto Sans KR';
                            color: #777;
                            margin-bottom: 40px;
                        }

                        a{
                            display: block;
                            text-align: right;
                            position: relative;

                            i{
                                color: tan;
                                margin-right: 10px;
                                position: absolute;
                                bottom: 0px; right: 0px;
                                transform: rotate(180deg);
                                transition: 1s;
                            }

                            span{
                                font: 17px/1 'abel';
                                color: tan;
                                letter-spacing: 1px;
                                opacity: 0;
                                position: absolute;
                                bottom: 0; right: -100px;
                                transition: 1s;
                            }
                        }
                    }

                    .back{
                        opacity: 0;
                        width: 100%; height: 100%;
                        padding: 40px;
                        position: absolute;
                        top: 0; left: 0;
                        overflow: hidden;
                        transition: opacity 0.5s, transform 0.5s 0.5s;

                        h3{
                            font: 24px/1 'Abel';
                            color: #fff;
                            margin-bottom: 40px; 
                        }

                        >span{
                            font: 18px/1 'Abel';
                            color: #eee;
                            position: absolute;
                            top: 40px; right: 40px;
                        }

                        ul{
                            width: 100%; height: 330px;

                            &::after{
                                content: ''; display: block; clear: both;
                            }

                            li{
                                float: left;
                                width: calc(100% / 4); height: 100%;

                                span{
                                    font: bold 22px/1 'Open Sans Condensed';
                                    color: tan;
                                }

                                &:nth-of-type(1){
                                    img{
                                        width: 95%; height: 95%;
                                        object-fit: cover;
                                        margin-top: 20px;
                                    }
                                }

                                &:nth-of-type(2), &:nth-of-type(3){
                                    img{
                                        width: 95%; height: 100px;
                                        object-fit: cover;
                                        margin-top: 20px;
                                        margin-bottom: 20px;
                                    }

                                    h4{
                                        font: bold 18px/1 'Abel';
                                        color: #ddd;
                                        margin-bottom: 10px;
                                    }

                                    p{
                                        font: 15px/1.3 'arial';
                                        color: #999;
                                    }
                                }

                                &:nth-of-type(4){
                                    h4{
                                        font: bold 18px/1 'Abel';
                                        color: #ddd;
                                        margin-top: 20px;
                                        margin-bottom: 10px;
                                    }

                                    p{
                                        font: 15px/1.3 'arial';
                                        color: #999;
                                        margin-bottom: 30px;
                                    }
                                }
                            }
                        }
                    }

                    &:hover{
                        
                        .front{
                            h3{
                                opacity: 1;
                            }
    
                            a{
                                i{
                                    right: 100px;
                                    transform: rotate(0deg);
                                }
    
                                span{
                                    opacity: 1;
                                    right: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 