.join{
    .sub_visual{
        background: url(../../img/family4.jpg) no-repeat center/cover;

        .txt{
            backdrop-filter: contrast(0.8) brightness(0.8);
            h1::after{
                content: 'JOIN';
            }
        }
    }

    .inner{
        .wrap{
            width: 100%; height: 1800px;
            padding: 100px 0 50px;
            position: relative;
            
            .top{
                width: 100%; height: 50px;
                padding: 0px 150px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 80px;

                li{
                    width: calc(100% / 3);
                    text-align: center;
                    position: relative;

                    span{
                        font: 15px/1 'Abel';
                        color: #777;
                    }

                    p{
                        font: 18px/1 'Noto Sans KR';
                        color: #aaa;
                        display: inline-block;
                        margin-left: 5px;
                    }

                    i{
                        float: right;
                        color: #ddd;
                    }

                    &.on p{
                        color: tan;
                        font-weight: bold;
                    }
                }
            }

            .left{
                width: 30%;
                position: sticky;
                top: 50px; 
                padding-right: 20px;

                >h2{
                    width: 90%;
                    font: 19px/1 'Noto Sans KR';
                    color: tan;
                    padding-top: 10px;
                    border-top: 1px solid tan;
                    margin-bottom: 20px;
                }

                span{
                    font: 15px/1 'Abel';
                    color: #999;
                }

                p{
                    font: 15px/1.4 'Noto Sans KR';
                    color: #999;
                    margin: 10px 0px 30px;
                }

                .terms{
                    h2{
                        width: 90%;
                        font: 19px/1 'Noto Sans KR';
                        color: tan;
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid tan;
                    }

                    dl{
                        dt{
                            font: 15px/1 'Noto Sans KR';
                            color: #777;
                            margin-bottom: 15px;
                        }

                        dd{
                            textarea{
                                outline: none;
                                resize: none;
                                overflow: visible;
                                width: 90%; height: 100px;
                                padding: 10px;
                                font: 15px /1.4 'arial';
                                color: #888;
                                background: transparent;
                                border: 1px solid tan;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}