
@import 'header_sub';
@import 'footer_sub';

.content{
    width: 100%; 
    padding: 0px 0px 100px;

    .sub_visual{
        width: 100%; min-height: 500px;
        background: #fff;
        margin-bottom: 100px;
        position: relative;

        .txt{
            width: 1180px; height: 500px;
            margin: 0 auto;
            text-align: center;

            h1{
                width: 100%;
                font: bold 30px/1 'arial';
                color: #222;
            }
        }
    }
}