.review{
    .sub_visual{
        .txt h1{
            &::after{
                content: 'REVIEW';
            }
        }
    }

    .inner{

        &::after{
            content: ''; display: block; clear: both;
        }

        h1{
            font: 28px/1 'Abel';
            color: tan;
            border-bottom: 1px solid tan;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        
        .leftMenu{
            float: left;
            width: 20%;
            border-right: 1px solid tan;

            

            .search{
                display: block;
                display: flex;
                align-content: center;
    
                input{
                    width: 150px; height: 20px;
                    padding: 15px;
                    border: 1px solid tan;
                    background: transparent;
                    outline: none;
                    transition: 0.5s;
    
                    &::placeholder{
                        font: 15px/20px 'Abel';
                        color: tan;
                    }
    
                    &:focus{
                        width: 250px;
                    }
                }
    
                a{
                    display: inline-block;
                    width: 30px; height: 30px;
                    margin-left: -30px;
    
                    i{
                        font-size: 20px;
                        line-height: 30px;
                        color: tan;
                    }
                }
            }
        }

        #gallery{
            float: right;
            width: 80%; 
            overflow: hidden;

            aside{
                width: 1180px; height: 90vh;
                padding: 50px;
                position: fixed;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(0,0,0, .8);
                display: flex;
                align-items: center;
        
                img{
                    width: 400px; height: 600px;
                }
        
                span{
                    position: absolute;
                    bottom: 50px; left: 50%;
                    transform: translateX(-50%);
                    font: 18px/1 'Abel';
                    color: #fff;
                    cursor: pointer;
                }
            }

            .pic{
                width: 100px; height: 100px;
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                top: 100px; left: 50%;
                transform: translateX(-50%);
                transition: 0.5s;

                img{
                    width: 100%; height: 100%;
                    transform: scale(2);
                    border-radius: 50%;
                }

                &.off{
                    opacity: 0;
                    transform: translate(-50%, -100px);
                }
            }

            .list{
                opacity: 0;
                transform: translateY(100px);
                transition: 1s;

                &.on{
                    opacity: 1;
                    transform: translateY(0);
                }

                &::after{
                    content: ''; display: block; clear: both;
                }

                li{
                    float: left;
                    width: calc(100% / 4);
                    padding: 10px;

                    div{
                        width: 100%; 
                        
                        a>img{
                            width: 100%;
                            filter: grayscale(1);
                        }
                    }
                }
            }
        }
    }
}