.youtube{
    .sub_visual{
        // background: url(../../img/_pic1.jpg) no-repeat center/cover;

        .txt{
            backdrop-filter: brightness(0.8) grayscale(0.3);

            h1::after{
                content: 'YOUTUBE';
            }
        }
    }

    .inner{
        padding: 150px 0;

        #playlist1{
            width: 100%; height: 800px;
            overflow: hidden;
            transition: 0.5s;
            
            article{
                transition: 1s;

                &:nth-of-type(1){
                    width: 100%; height: 400px;
                    padding: 20px 0;
                    margin-bottom: 100px;
                    border-top: 2px solid tan;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;

                    .pic{
                        width: 60%; height: 100%;
                        overflow: hidden;

                        img{
                            width: 100%; height: 100%;
                            object-fit: cover;
                            filter: contrast(0.8);
                        }
                    }

                    .con{
                        width: 36%; height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        span{
                            font: 13px/1 'Abel';
                            color: #999;
                        }

                        h2{
                            font:  34px/1 'Open Sans Condensed';
                            color: #fff;
                            margin-top: 10px;
                        }

                        nav{
                            margin-top: -20px;
                            margin-bottom: 80px;
                            font: 15px/1 'Abel';
                            color: tan;

                            &::before{
                                content: '|';
                                display: inline-block;
                                margin-right: 5px;
                            }

                            &::after{
                                content: '|';
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }

                        p{
                            margin-bottom: 20px;
                            font: 17px/1.2 'Abel';
                            color: #ddd;
                            text-align: justify;
                        }

                        .view{
                            width: 75px;
                            padding-bottom: 5px;
                            font:  bold 17px/1 'Open Sans Condensed';
                            color: #fff;
                            text-align: center;
                            letter-spacing: 1px;
                            border-bottom: 1px solid #ddd;
                            position: relative;
                            transition: 0.5s;

                            &::before{
                                content: '';
                                display: inline-block;
                                width: 15px; height: 1px;
                                background: #fff;
                                position: absolute;
                                top: 50%; right: -20px;
                                transform: rotate(-45deg);
                                transition: 0.5s;
                            }

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 10px; height: 10px;
                                border-top: 1px solid #fff;
                                border-right: 1px solid #fff;
                                position: absolute;
                                top: 50%; right: -20px;
                                margin-top: -6px;
                                transition: 0.5s;
                            }

                            &:hover{
                                color: tan;
                                border-color: tan;

                                &::before{
                                    background: tan;
                                    right: -35px;
                                }

                                &::after{
                                    border-color: tan;
                                    right: -35px;
                                }
                            }
                        }
                    }
                }

                &:not(:nth-of-type(1)){
                    width: 220px; height: 300px;
                    position: relative;
                    margin-right: 20px;
                    overflow: hidden;
                    float: left;

                    &:last-child{
                        margin-right: 0;
                    }

                    .pic{
                        width: 100%; height: 100%;

                        img{
                            width: 100%; height: 100%;
                            object-fit: cover; 
                            filter: contrast(0.5);
                            transform: scale(1.5);
                        }
                    }

                    .con{
                        width: 100%; height: 100%;
                        padding: 20px 10px;
                        position: absolute;
                        top: 0; left: -50%;
                        opacity: 0;
                        background: rgba(17, 17, 17, 0.602);
                        transition: 1s;
                    }

                    span{
                        font: 13px/1 'Abel';
                        color: #999;
                    }

                    h2{
                        width: 100%; height: 25px;
                        overflow: hidden;
                        font: 24px/1 'Open Sans Condensed', 'Noto sans KR';
                        color: #eee;
                        margin-top: 30px;
                        margin-bottom: 10px;
                    }

                    nav{
                        margin-bottom: 130px;
                        font: 13px/1 'Abel';
                        color: tan;

                        &::before{
                            content: '|';
                            display: inline-block;
                            margin-right: 5px;
                        }

                        &::after{
                            content: '|';
                            display: inline-block;
                            margin-left: 5px;
                        }
                    }

                    p{
                        display: none;
                    }

                    .view{
                        width: 75px;
                        padding-bottom: 5px;
                        font:  bold 17px/1 'Open Sans Condensed';
                        color: #fff;
                        text-align: center;
                        letter-spacing: 1px;
                        border-bottom: 1px solid #ddd;
                        position: relative;
                        transition: 0.5s;

                        &::before{
                            content: '';
                            display: inline-block;
                            width: 15px; height: 1px;
                            background: #fff;
                            position: absolute;
                            top: 50%; right: -20px;
                            transform: rotate(-45deg);
                            transition: 0.5s;
                        }

                        &::after{
                            content: '';
                            display: inline-block;
                            width: 10px; height: 10px;
                            border-top: 1px solid #fff;
                            border-right: 1px solid #fff;
                            position: absolute;
                            top: 50%; right: -20px;
                            margin-top: -6px;
                            transition: 0.5s;
                        }

                        &:hover{
                            color: tan;
                            border-color: tan;

                            &::before{
                                background: tan;
                                right: -35px;
                            }

                            &::after{
                                border-color: tan;
                                right: -35px;
                            }
                        }
                    }

                    &:hover{
                        width: 460px;

                        .con{
                            left: 0;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .num{
            position: absolute;
            bottom: 20px;
        }
    }

    aside{
        width: 100%; height: 100%;
        position: fixed;
        top: 0; left: 0;
        background: rgba(0,0,0, .9);
        padding: 5vw;

        .btnClose{
            position: absolute;
            top: 40px; right: 40px;
            color: transparent;
            font: 18px/1 'abel';
            padding: 5px 0;
            cursor: pointer;
            transition: 0.5s 0.5s;

            &::before{
                content: '';
                display: block;
                width: 18px; height: 1px;
                position: absolute;
                top: 49%; right: 50%;
                margin-right: -7px;
                background: tan;
                transform: rotate(-45deg);
                transition: transform 0.5s, top 0.5s 0.5s;
            }

            &::after{
                content: '';
                display: block;
                width: 18px; height: 1px;
                position: absolute;
                bottom: 48%; right: 50%;
                margin-right: -7px;
                background: tan;
                transform: rotate(45deg);
                transition: transform 0.5s, bottom 0.5s 0.5s;
            }

            &:hover{
                color: tan;

                &::before{
                    top: 0%;
                    transform: rotate(0deg);
                }

                &::after{
                    bottom: 0%;
                    transform: rotate(0deg);
                }
            }
        }
    }
}
